body{
    margin: 0;
    background-color: #f0f0f0;

}

.clock{
    width: 200px;
    height: 200px;
    margin-top: 100px;
    margin-left: 40%;
    border: 4px double black;
    border-radius: 50%;
    position: relative;
    animation: rotate 60s linear;
    background-color: pink;
}

.hour-hand,
.minute-hand,
.second-hand{
    position: absolute;
    transform-origin: center bottom;
}

.hour-hand{
    height: 50px;
    width: 6px;
    background-color: #000;
    top: 50px;
    left: 97px;
    animation: rotate 7200s linear infinite;
}

.minute-hand{
    height: 80px;
    width: 4px;
    background-color: #000;
    top: 20px;
    left: 98px;
    animation: rotate 360s linear infinite;

}

.second-hand{
    height: 100px;
    width: 2px;
    background-color: #000;
    top: 0;
    left: 99px;
    animation: rotate 60s linear infinite;

}
.numbers{
    position: relative;
    width: 100%;
    font-size: 20px;
    
}

.number1{
    position: absolute;
    top: 0px;
    left: 59%;
}
 
.number2{
    position: absolute;
    top: 32px;
    left: 82%;  
}
.number3{
    position: absolute;
    top: 82px;
    left: 94%;
}

.number4{
    position: absolute;
    top: 130px;
    left: 88%;
}
.number5{
    position: absolute;
    top: 168px;
    left: 71%;
}
 
/* @keyframes rotate{
    from{
        transform: rotate(0deg);
    }
     to{
        transform: rotate(360deg);
     }
}  */